#homepage {
    width: 100vw;
    height: 100vh;
    background: rgb(236, 236, 241);
    position: relative;
}

body {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 70px;
    z-index: 1;
}

.cat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 5px solid rgb(182, 182, 182);
    border-radius: 20px;
    margin: 30px;
}

.cat-card img {
    margin-top: 15px;
    width: 10vw;
}

.create-edit-modal-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 350px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 244, 244);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 2;
}

.active {
    display: flex;
}

.create-edit-modal-form button[type="submit"] {
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.2s;
}

form {
    display: flex;
    flex-direction: column;
}

.create-edit-modal-form label {
    font-family: sans-serif;
}

.create-edit-modal-form input,
.create-edit-modal-form textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
}

.closeNewCatForm {
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
} 

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    align-content: start;
    padding: 20px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.5368522408963585) 0%, rgba(253,29,29,0.5284488795518207) 50%, rgba(252,176,69,0.5396533613445378) 100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    left: 0;
    right: 0;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgb(168, 168, 168);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 18px rgba(134, 134, 134, 0.683);
}
header button {
    font-size: 20px;   
}

button:hover {
    background-color: #e66bef;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.3s ease-in;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

footer p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.header__scrolled {
    transform: translateY(-100%);
}

.popup-wrapper-cat-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup-cat-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.popup-close-cat-card {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}
.card-image {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0px 0px 10px;
}
.card-content {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
}
.card-content p{
    font-size: 14px;
}
label {
    font-size: 16px;
}
.favourite-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.favourite-container label {
    margin-left: 5px;
}

